<%- include("partials/header") -%>
<div id="clock"></div>
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/vik.PNG" alt="Vikrant" title="Vikrant" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Vikrant Daily Journal</p>
                        <h1>I am a <span class="txt_clr">Mern Stack Developer</span>, at Aryavrat Infotech</h1>
                        <p>Name:-Vikrant Kumar<br>From Aurangabad, Bihar<br>B.tech-Global instuite of technology Jaipur.</p>
                        <a href="#" target="_thapa"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>
    <script src="clock.js"></script>
<%- include("partials/footer") -%>
